<h2>
  <%= link_to_project_settings(@project) %> &#187;
  <%= l :label_group_plural %> &#187;
  <%= h @project_group %>
</h2>

<ul>
<% @project_group.users.each do |user| %>
    <li><%=h user %></li>
<% end %>
</ul>